<div class="chats">
  <div class="chats__header">
    <div class="chats__actions">
      <div class="chats__title">Chats</div>
      <ng-icon name="ionCreateOutline"></ng-icon>
      <ng-icon name="ionFilterOutline"></ng-icon>
    </div>
    <div class="chats__seach-input">
      <ng-icon name="ionSearchOutline"></ng-icon>
      <input type="text" placeholder="Search or start a new chat" />
    </div>
  </div>

  <div>
    <div class="chats__list">
      @for (chat of chatMessages; track chat.id) {
      <app-chat-card [chat]="chat"></app-chat-card>
      }
    </div>
  </div>
</div>
