.chats {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 22px 24px 18px;
  }

  &__title {
    color: #1b1b1b;
    font-size: 18px;
    font-weight: 700;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 36px;

    > :first-child {
      flex: 1 0 0%;
    }

    ng-icon {
      font-size: 20px;
    }
  }

  &__seach-input {
    position: relative;

    ng-icon {
      flex-shrink: 0;
      position: absolute;
      pointer-events: none;
      left: 12px;
      top: 1rem;
      transform: translateY(-50%);
    }

    input {
      width: 100%;
      font-size: 13px;
      color: #8d8d8d;
      text-align: left;
      font-family: "Inter-Regular", sans-serif;
      font-size: 13px;
      font-weight: 400;
      outline: none;
      border: unset;
      padding: 8px 12px 8px 35px;
      background: #ffffff;
      border-radius: 4px;
      border: 1px solid #efefef;
      border-bottom: 1px solid #8c8c8c;

      &:hover {
        background-color: #fcfcfc;
      }

      &:focus {
        border-bottom: 2px solid #1b8755;
      }

      &::placeholder {
        color: #616161;
      }

      &:focus::placeholder {
        color: #8d8d8d;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: calc(100vh - 114px);
    padding: 0 11px 11px;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      // background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #8C8C8C;
      border-radius: 20px;
      width: 2px;
      height: 50px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      // background: #555;
    }
  }
}
