<div class="chats">
    <div class="rectangle-4"></div>
    <div class="group-1">
      <div class="chats2">Chats</div>
      <div class="rectangle-7"></div>
      <div class="rectangle-8"></div>
    </div>
    <div class="group-2">
      <div class="rectangle-10"></div>
      <div class="search-or-start-a-new-chat">Search or start a new chat</div>
      <div class="rectangle-72"></div>
    </div>
    <div class="frame-3">
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
      <div class="chat-card">
        <div class="rectangle-11"></div>
        <div class="_1-35-pm">1:35 PM</div>
        <div class="ellipse-2"></div>
        <div class="babe">Babe</div>
        <div class="rectangle-12"></div>
        <div class="babe-ana-fdar">babe ana fdar</div>
        <div class="rectangle-13"></div>
      </div>
    </div>
  </div>
  