<div class="layout">
  <div class="sidebar">
    <div class="top-icons">
      <div class="sidemenu-icon sidemenu-icon--active">
        <div class="icon"></div>
        <div class="rectangle-8"></div>
      </div>
      <div class="sidemenu-icon">
        <div class="icon"></div>
      </div>
      <div class="sidemenu-icon">
        <div class="icon"></div>
      </div>
    </div>
    <div class="bottom-icons">
      <div class="sidemenu-icon">
        <div class="icon"></div>
      </div>
      <div class="sidemenu-icon">
        <div class="icon icon--badge">
          <div class="badge">
            <div class="badge-number">4</div>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="sidemenu-icon">
        <div class="icon"></div>
      </div>
      <div class="sidemenu-icon sidemenu-icon--user">
        <div class="icon"></div>
      </div>
    </div>
  </div>
  <div class="chat"></div>
  <div class="conversation"></div>
</div>
