<div class="layout">
  <div class="sidebar">
    <div class="top-icons">
      <div class="sidemenu-icon sidemenu-icon--active">
        <ng-icon name="ionChatbubbleEllipsesOutline"></ng-icon>
      </div>
      <div class="sidemenu-icon">
        <ng-icon name="ionCallOutline"></ng-icon>
      </div>
      <div class="sidemenu-icon">
        <ng-icon name="ionSettingsOutline"></ng-icon>
      </div>
    </div>
    <div class="bottom-icons">
      <div class="sidemenu-icon">
        <ng-icon name="ionStarOutline"></ng-icon>
      </div>
      <div class="sidemenu-icon">
        <div class="icon--badge">
          <ng-icon name="ionArchiveOutline"></ng-icon>
          <div class="badge">
            <div class="badge-number">4</div>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="sidemenu-icon">
        <ng-icon name="ionSettingsOutline"></ng-icon>
      </div>
      <div class="sidemenu-icon sidemenu-icon--user">
        <ng-icon name="ionPersonCircleOutline"></ng-icon>
      </div>
    </div>
  </div>
  <div class="chat">
    <wtspdk-chats></wtspdk-chats>
  </div>
  <div class="conversation"></div>
</div>
